.section__Jobs-buttonCompany {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  border-left: 2px solid pink;
  outline: none;
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
  height: 42px;
  width: 100%;
  text-align: left;
  padding: 0 20px;
}

.section__Jobs-buttonCompany:hover,
.section__Jobs-buttonCompany:focus {
  background-color: rgb(224, 207, 207);
}

.section__Jobs-buttonCompany:hover,
.section__Jobs-buttonCompany:active,
.section__Jobs-buttonCompany:focus {
  color: paleturquoise;
  outline: 0px;
}
